<div class="okPopup" id="okPopup">
    <img src="/pictures/ok.png" alt="ok">
    <h4>Successfully deleted!</h4>
    <button type="button" onclick="closeOkPopup()">OK</button>
</div>

<div class="errorPopup" id="errorPopup">
    <img src="/pictures/error.png" alt="ok">
    <h4>Deletion unsuccesfull!</h4>
    <button type="button" onclick="closeErrorPopup()">OK</button>
</div>