<div class="userInformation" id="userInformation">
    <br>
    <button class="close" type="button" onclick="closeUserInformations()">╳</button>
    <br>
    <br>
    <img src="/pictures/user.png" alt="ok">
    <h4><%=username%></h4>
    <button type="button" onclick="logout()">Log Out</button>
</div>